.footer {
  min-height: 100px;
  background: yellowgreen;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: yellow;
}

.back-btn {
    float: left;
    background-color: darkgreen;
    color: white;
}